/* url()s in CSS are relative to the location of the css file, not the document which included it */
.openEye {
	background-image: url('images/open-eye-25px-25px.png');
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	display: block;
}

.closedEye {
	background-image: url('images/closed-eye-25px-25px.png');
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	display: block;
}
